@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20;
  }
}

/* dark mode looking scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-track {
  background: #555 !important;
}

::-webkit-scrollbar-thumb {
  background: #121212 !important;
  border-radius: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424 !important;
}
